/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: black;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

.categories {
	display: flex;
	justify-content: center;
	height: 37px;
	margin-bottom: 40px;
	gap: 15px;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 60px;
	border: 1px solid;
	cursor: pointer;
}

#button-log {
	margin-top: 35px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: white;
	height: 37px;
	width: 180px;
	background-color: #1D6154;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 60px;
	border: 1px solid;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: #1D6154;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-top: 150px;
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-top: 150px;
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



.headLog {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	height: 60px;
}

.headLog nav {
	cursor: pointer;
}

.modif {
	display: flex;
	justify-content: center;
}

.jsModal {
	display: flex;
	align-items: center;
	margin-left: 30px;
	color: black;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.contentModal {
	display: flex;
	flex-direction: column;
	background-color: white;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	width: 600px;
	height: 750px;
	padding: 20px;
	border-radius: 10px;
	position: relative;
}

.buttonModal {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.buttonModal button {
	width: 240px;
	height: 40px;
}

.galleryModal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: center;
	margin: 20px;
	padding-left: 40px;
	column-gap: 5px;
	row-gap: 30px;

}

.galleryModal img {
	width: 78px;
	height: 104px;
	position: relative;
	object-fit: cover;
}

.galleryModal i {
	position: relative;
	right: 25px;
	top: 8px;
	cursor: pointer;
	width: 17px;
	height: 17px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.lineModal {
	width: 480px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #B3B3B3;
}

.jsClose {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

h3 {
	display: flex;
	justify-content: center;
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 40px;
	margin-top: 30px;
}

.pen {
	color: white;
}

.modal2 {
	display: none;
}

#modal-btn-back {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}



.line {
	border: 1px solid rgba(179, 179, 179, 1);
	background: rgba(179, 179, 179, 1);
	width: 420px;
	margin-top: 67px
}

#ajouter-photo {
	display: flex;
	flex-direction: column;

}

.btn-ajouter-photo {
	background-color: #1D6154;
	border-radius: 60px;
	height: 36px;
	width: 237px;
	color: white;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	border: 0;
	margin-top: 38px;

}

/* fenetre Ajout photo */

#form {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 600px;
	margin: auto;
}

#searchPicture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	height: 225px;
	margin-top: 20px;
}

#searchPicture .fa-image {
	color: #B9C5CC;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#searchPicture p {
	color: #444444;
	margin-top: 10px;
	text-align: center;
}

#preview {
	height: 100%;
	display: none;
	width: 129px;
	object-fit: cover;
}

#validate {
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	width: 240px;
	height: 40px;
	border-radius: 60px;
	border: none;
	color: #FFF;
	background-color: #A7A7A7;
	margin: auto;
	cursor: pointer;
}

#validate:hover {
	background-color: #1D6154;
}

#title-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: black;
	padding-top: 80px;
}

#inputPhoto {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

label {
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#labelPhoto {
	background-color: #CBD6DC;
	border-radius: 50px;

	cursor: pointer;
}

#labelPhoto p {
	color: #306685;
	font-weight: 500;
	text-align: center;
	position: relative;
	top: 5px;
}

#photo {
	visibility: hidden;
}

#photoFile {
	max-width: 165px;
	margin: auto;
}

#input-title,
select {
	height: 50px;
	box-shadow: 1px 1px 4px #c5c4c4;
	padding-left: 10px;
}

#titleLabel,
#categoryLabel {
	margin: 30px 0 10px 0;
}

#select-container {
	position: relative;
	width: 100%;
}

select {
	appearance: none;
	cursor: pointer;
	width: 100%;
}

#dropdown {
	position: absolute;
	bottom: 20px;
	width: 1em;
	right: 30px;
	color: rgba(108, 108, 108, 1);

}

.line-2 {
	border: 1px solid rgba(179, 179, 179, 1);
	background: rgba(179, 179, 179, 1);
	width: 420px;
	margin: 40px auto;
}

.input-error {
	color: red;
	display: none;
}